body {
  margin: 0;
  font-family: 'Roboto', sans-serif; }

h1 {
  font-size: 3.815em; }

h2 {
  font-size: 3.052em; }

h3 {
  font-size: 2.441em; }

h4 {
  font-size: 1.953em; }

h5 {
  font-size: 1.563em; }

h6 {
  font-size: 1.25rem; }

p {
  margin: 0 0 halve(24px); }

a {
  text-decoration: none;
  color: #7c6731; }
  a:active, a:focus, a:hover {
    text-decoration: underline;
    color: #4acb9f; }
  a:visited {
    color: #7c6731; }

small {
  font-size: 0.8em; }

strong {
  font-weight: 900; }

hr {
  border: none;
  border-top: medium double #FFFFFF; }
  hr.dark {
    border-top: medium double #19191a; }

em {
  font-style: italic; }

/* Contains all the main alterations of CSS occurs
 */
/**
 * @media only screens
 * @media (min-width:576px) {}
 * @media (min-width:768px) {}
 * @media (min-width:992px) {}
 * @media (min-width:1200px) {}
 *
 */
@font-face {
  font-family: "Manus";
  font-style: normal;
  font-weight: normal;
  src: url("http://images.drct2u.com/repo/DAL/common/fonts/Manus/manus-webfont.woff") format("woff"); }

@font-face {
  font-family: "CircularBook";
  font-style: normal;
  font-weight: normal;
  src: url("http://images.drct2u.com/repo/DAL/common/fonts/LinetoCircular/lineto-circular-book.woff") format("woff"); }

@font-face {
  font-family: "CircularBold";
  font-style: normal;
  font-weight: normal;
  src: url("http://images.drct2u.com/repo/DAL/common/fonts/LinetoCircular/lineto-circular-bold.woff") format("woff"); }

@font-face {
  font-family: "Salome";
  font-style: normal;
  font-weight: normal;
  src: url("http://images.drct2u.com/repo/DAL/common/fonts/Salome/Salome/salome-webfont.woff") format("woff"); }

@font-face {
  font-family: "Pentaprism";
  font-style: normal;
  font-weight: normal;
  src: url("http://images.drct2u.com/repo/DAL/common/fonts/Pentaprism/pentaprism.woff") format("woff"); }

@font-face {
  font-family: "ProximaNovaBold";
  font-style: normal;
  font-weight: normal;
  src: url("http://images.drct2u.com/repo/DAL/common/fonts/ProximaNova/proximanova-bold-webfont.woff") format("woff"); }

@font-face {
  font-family: "ProximaNovaLight";
  font-style: normal;
  font-weight: normal;
  src: url("http://images.drct2u.com/repo/DAL/common/fonts/LinetoCircular/lineto-circular-book.woff") format("woff"); }

.u--flex-container {
  display: flex; }

.u--flex-column {
  flex-flow: column wrap; }

.u--flex-just-start {
  justify-content: flex-start; }

.u--flex-just-center {
  justify-content: center; }

.u--flex-just-end {
  justify-content: flex-end; }

.u--flex-align-start {
  align-items: flex-start; }

.u--flex-align-center {
  align-items: center; }

.u--flex-align-end {
  align-items: flex-end; }

@media only screen and (min-width: 320px) {
  .u--margin-top-left-hexagon {
    margin-top: 5px;
    margin-left: 5px; }
  .u--margin-top-right-hexagon {
    margin-top: 5px;
    margin-left: -5px;
    margin-right: 5px; }
  .u--margin-bottom-left-hexagon {
    margin: 0 0 15px 15px; }
  .u--margin-bottom-right-hexagon {
    margin-top: -5px;
    margin-left: -5px; }
  .container-main {
    width: 100%;
    background: #fbe4d5; }
  .container-main .nav-bar {
    height: 125px;
    width: 100%;
    background: #FFFFFF; }
  .container-main .component-wrapper {
    height: 60px;
    width: inherit;
    background: #a08540; }
  .container-main .component-wrapper .c--component {
    height: 56px;
    width: inherit;
    margin: 2px 0 2px 0;
    background: black; }
  .container-main .component-wrapper .c--component .lander-top-font__p {
    font-family: 'Pentaprism', Arial, Helvetica, sans-serif;
    color: #a08540;
    font-weight: 800;
    font-size: 45px;
    position: relative;
    top: -10px; }
  .container-main .component-wrapper .c--component .foot-bottom-font__p {
    font-family: 'Pentaprism', Arial, Helvetica, sans-serif;
    color: #a08540;
    font-weight: 800;
    font-size: 34px;
    letter-spacing: 1.5px;
    margin: -5px 0 0 0; }
  .container-main .component-wrapper .c--component .c--component__text {
    display: none; }
  .container-main .component-wrapper .c--component .c--component__btn {
    display: none; }
  .container-main .wrapper-content {
    height: 425px;
    background: #fbe4d5; }
    .container-main .wrapper-content .container-lander {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 415px;
      margin: 10px 0 10px 0; }
    .container-main .wrapper-content .container-lander .c--translated-label {
      position: absolute;
      top: 0;
      transform-origin: 45px 45px;
      transform: rotate(-90deg); }
      .container-main .wrapper-content .container-lander .c--translated-label p {
        letter-spacing: 2px;
        font-size: 9px;
        color: #FFFFFF; }
    .container-main .wrapper-content .container-lander .i--lander-img img {
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      height: 90%; }
    .container-main .wrapper-content .container-lander .c--event-content {
      position: absolute;
      height: 200px;
      width: 100vw;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: calc((415px - 240px)/2);
      text-align: center; }
      .container-main .wrapper-content .container-lander .c--event-content .c--event-content__title {
        margin: 8px 0 0 10px; }
      .container-main .wrapper-content .container-lander .c--event-content .c--event-content__title p {
        color: white;
        font-family: 'CircularBook', Arial, Helvetica, sans-serif;
        letter-spacing: 5px;
        font-size: 15px;
        margin: 0; }
      .container-main .wrapper-content .container-lander .c--event-content .c--event-content__title .c--event-content__title--margin {
        margin: 0 5px 0 5px; }
      .container-main .wrapper-content .container-lander .c--event-content .c--event--content__main__text h1 {
        letter-spacing: 3px;
        font-size: 60px;
        font-family: 'Pentaprism', Arial, Helvetica, sans-serif;
        color: white;
        width: 70vw;
        margin: -5px 15vw; }
    .container-main .wrapper-content .container-lander .c--event-content__paragraph .c--event-content__paragraph__span {
      margin-top: 5px; }
    .container-main .wrapper-content .container-lander .c--event-content__paragraph .c--event-content__paragraph__span span {
      color: white;
      font-family: 'CircularBook', Arial, Helvetica, sans-serif;
      letter-spacing: 1.3px;
      font-size: 15px;
      margin: 0 0 0 5px; }
    .container-main .wrapper-content .button-placeholder {
      height: 10%;
      width: 100%;
      position: absolute;
      bottom: 0;
      background: black; }
      .container-main .wrapper-content .button-placeholder button p {
        letter-spacing: 2px;
        font-size: 11px;
        font-family: 'CircularBook';
        color: #FFFFFF; }
  .container-shop-party {
    margin: 30px 0; }
  .container-shop-party .i--shop-party {
    margin: 6.25% 0; }
  .container-shop-party .i--shop-party img {
    height: 128.125%;
    width: 90%;
    max-height: 825px;
    max-width: 580px; }
  .container-shop-party .i--shop-party .c--hexagon-container {
    position: absolute;
    width: 90%; }
  .container-shop-party .i--shop-party .c--hexagon-container .c--hexagon {
    position: relative;
    width: 80px;
    height: 46.19px;
    background-color: #000000;
    margin: 23.09px 0; }
    .container-shop-party .i--shop-party .c--hexagon-container .c--hexagon .c--hexagon-text {
      margin: 10px 0 0 0; }
    .container-shop-party .i--shop-party .c--hexagon-container .c--hexagon .c--hexagon-text p {
      text-align: center;
      font-size: 9px;
      font-family: 'CircularBook';
      margin: 1px 0;
      letter-spacing: 1.8px;
      color: white; }
  .container-shop-party .i--shop-party .c--hexagon-container .c--hexagon:before,
  .container-shop-party .i--shop-party .c--hexagon-container .c--hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent; }
  .container-shop-party .i--shop-party .c--hexagon-container .c--hexagon:before {
    bottom: 100%;
    border-bottom: 23.09px solid #000000; }
  .container-shop-party .i--shop-party .c--hexagon-container .c--hexagon:after {
    top: 100%;
    width: 0;
    border-top: 23.09px solid #000000; }
  .container-shop-party .i--shop-party .c--center-large-text {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 30% 0 0 10px; }
    .container-shop-party .i--shop-party .c--center-large-text h1 {
      color: white;
      font-family: 'CircularBold';
      font-size: 90px;
      letter-spacing: 1px;
      margin: 0; }
  .i--event-sequin {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 20px 0;
    width: 100%;
    height: 320px; }
  .i--event-sequin img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    height: 320px; }
  .i--event-sequin .event-sequin-container__title {
    position: absolute;
    height: 160px;
    width: 100%; }
    .i--event-sequin .event-sequin-container__title .c--event-sequin__title {
      margin: 40px 0 0 25px;
      height: 160px;
      width: 50%; }
      .i--event-sequin .event-sequin-container__title .c--event-sequin__title h1 {
        letter-spacing: 3px;
        font-family: 'Pentaprism';
        color: white;
        font-size: 35px;
        margin: 0; }
    .i--event-sequin .event-sequin-container__title .event-sequin__paragraph {
      position: absolute;
      display: none; }
      .i--event-sequin .event-sequin-container__title .event-sequin__paragraph .c--event-sequin__paragraph__span {
        display: none; }
    .i--event-sequin .event-sequin-container__title .button-placeholder {
      display: none; }
  .i--event-sequin .event-sequin-container__text {
    position: absolute;
    height: 160px;
    width: 100%;
    bottom: 0; }
    .i--event-sequin .event-sequin-container__text .event-sequin-design__div {
      width: calc(100% * (108/320));
      height: 4px;
      margin: 5px 0 0 0;
      background: white; }
  .i--event-sequin .c--hexagon-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0 0 15px 15px;
    width: 100%; }
    .i--event-sequin .c--hexagon-container .c--hexagon {
      position: relative;
      width: 80px;
      height: 46.19px;
      background-color: #000000;
      margin: 23.09px 0; }
      .i--event-sequin .c--hexagon-container .c--hexagon .c--hexagon-text {
        margin: 10px 0 0 0; }
      .i--event-sequin .c--hexagon-container .c--hexagon .c--hexagon-text p {
        text-align: center;
        font-size: 9px;
        font-family: 'CircularBook';
        margin: 1px 0;
        letter-spacing: 1.8px;
        color: white; }
    .i--event-sequin .c--hexagon-container .c--hexagon:before,
    .i--event-sequin .c--hexagon-container .c--hexagon:after {
      content: "";
      position: absolute;
      width: 0;
      border-left: 40px solid transparent;
      border-right: 40px solid transparent; }
    .i--event-sequin .c--hexagon-container .c--hexagon:before {
      bottom: 100%;
      border-bottom: 23.09px solid #000000; }
    .i--event-sequin .c--hexagon-container .c--hexagon:after {
      top: 100%;
      width: 0;
      border-top: 23.09px solid #000000; }
  .container-shop-shape {
    margin: 30px 0; }
  .container-shop-shape .i--shop-shape {
    width: 100%;
    margin: 6.25% 0; }
  .container-shop-shape .i--shop-shape img {
    height: 107.8125%;
    width: 90%;
    max-height: 700px;
    max-width: 580px; }
  .container-shop-shape .i--shop-shape .c--hexagon-container {
    position: absolute;
    width: 90%; }
  .container-shop-shape .i--shop-shape .c--hexagon-container .c--hexagon {
    position: relative;
    width: 80px;
    height: 46.19px;
    background-color: #000000;
    margin: 23.09px 0; }
    .container-shop-shape .i--shop-shape .c--hexagon-container .c--hexagon .c--hexagon-text {
      margin: 10px 0 0 0; }
    .container-shop-shape .i--shop-shape .c--hexagon-container .c--hexagon .c--hexagon-text p {
      text-align: center;
      font-size: 9px;
      font-family: 'CircularBook';
      margin: 1px 0;
      letter-spacing: 2px;
      color: white; }
  .container-shop-shape .i--shop-shape .c--hexagon-container .c--hexagon:before,
  .container-shop-shape .i--shop-shape .c--hexagon-container .c--hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent; }
  .container-shop-shape .i--shop-shape .c--hexagon-container .c--hexagon:before {
    bottom: 100%;
    border-bottom: 23.09px solid #000000; }
  .container-shop-shape .i--shop-shape .c--hexagon-container .c--hexagon:after {
    top: 100%;
    width: 0;
    border-top: 23.09px solid #000000; }
  .i--shop-accessories {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 20px 0;
    width: 100%;
    height: 320px; }
    .i--shop-accessories img {
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      transform: translate(-48%, 3%) scale(1.05);
      height: 320px; }
    .i--shop-accessories .shop-accessories-container__title {
      position: absolute;
      height: 240px;
      width: 100%;
      left: 0px; }
      .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title {
        margin: 65px 0 0 15px;
        height: 160px;
        width: 80%; }
        .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title h1 {
          color: white;
          font-family: 'Pentaprism';
          font-size: 50px;
          letter-spacing: 4px;
          margin: 0; }
        .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title h5 {
          color: white;
          font-family: 'CircularBook';
          font-size: 13px;
          letter-spacing: 6px;
          margin: 4px 0 -2px 0; }
        .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title p {
          color: white;
          font-family: 'CircularBook';
          font-size: 11px;
          letter-spacing: 1px;
          margin: 10px 0; }
        .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title .button-placeholder {
          display: none; }
    .i--shop-accessories .shop-accessories-container__text {
      position: absolute;
      height: 80px;
      width: 100%;
      bottom: 0px;
      left: 0px; }
      .i--shop-accessories .shop-accessories-container__text .shop-accessories-design__div {
        width: calc(100% * (108/320));
        height: 4px;
        margin: 8px 0 0 0;
        background: white; }
    .i--shop-accessories .c--hexagon-container .c--hexagon {
      position: relative;
      width: 70px;
      height: 40.41px;
      background-color: #000000;
      margin: 20.21px 0; }
      .i--shop-accessories .c--hexagon-container .c--hexagon .c--hexagon-text {
        margin: 5px 0 0 0; }
      .i--shop-accessories .c--hexagon-container .c--hexagon .c--hexagon-text p {
        text-align: center;
        font-size: 8px;
        font-family: 'CircularBook';
        margin: 1px 0;
        letter-spacing: 1.5px;
        color: white; }
    .i--shop-accessories .c--hexagon-container .c--hexagon:before,
    .i--shop-accessories .c--hexagon-container .c--hexagon:after {
      content: "";
      position: absolute;
      width: 0;
      border-left: 35px solid transparent;
      border-right: 35px solid transparent; }
    .i--shop-accessories .c--hexagon-container .c--hexagon:before {
      bottom: 100%;
      border-bottom: 20.21px solid #000000; }
    .i--shop-accessories .c--hexagon-container .c--hexagon:after {
      top: 100%;
      width: 0;
      border-top: 20.21px solid #000000; }
  .btn {
    width: 100%;
    height: 38px;
    margin: 30px 0 0 0; }
  .btn:nth-of-type(1) {
    background: black;
    font-family: 'CircularBook';
    font-size: 12px;
    letter-spacing: 2px;
    color: white; }
  .btn:nth-of-type(2) {
    background: #a08540;
    font-family: 'CircularBook';
    font-size: 12px;
    letter-spacing: 2px;
    color: white; }
  .footer-bottom {
    height: 36px;
    width: 100%; } }

@media only screen and (min-width: 400px) {
  .u--margin-top-left-hexagon {
    margin-top: 12.5px;
    margin-left: 12.5px; }
  .u--margin-top-right-hexagon {
    margin-top: 12.5px;
    margin-left: -12.5px;
    margin-right: 12.5px; }
  .u--margin-bottom-left-hexagon {
    margin: 0 0 15px 15px; }
  .u--margin-bottom-right-hexagon {
    margin-top: -12.5px;
    margin-left: -12.5px; }
  .container-main {
    width: 100%;
    background: #fbe4d5; }
  .container-main .nav-bar {
    height: 125px;
    width: 100%;
    background: #FFFFFF; }
  .container-main .component-wrapper {
    height: 60px;
    width: inherit;
    background: #a08540; }
  .container-main .component-wrapper .c--component {
    height: 56px;
    width: inherit;
    margin: 2px 0 2px 0;
    background: black; }
  .container-main .component-wrapper .c--component .lander-top-font__p {
    font-family: 'Pentaprism', Arial, Helvetica, sans-serif;
    color: #a08540;
    font-weight: 800;
    font-size: 45px; }
  .container-main .component-wrapper .c--component .foot-bottom-font__p {
    font-family: 'Pentaprism', Arial, Helvetica, sans-serif;
    color: #a08540;
    font-weight: 800;
    font-size: 34px;
    letter-spacing: 1.5px;
    margin: -5px 0 0 0; }
  .container-main .wrapper-content {
    height: 425px;
    background: #fbe4d5; }
    .container-main .wrapper-content .container-lander {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 415px;
      margin: 10px 0 10px 0; }
    .container-main .wrapper-content .container-lander .c--translated-label {
      position: absolute;
      top: 0;
      transform-origin: 45px 45px;
      transform: rotate(-90deg); }
      .container-main .wrapper-content .container-lander .c--translated-label p {
        letter-spacing: 2px;
        font-size: 9px;
        color: #FFFFFF; }
    .container-main .wrapper-content .container-lander .i--lander-img img {
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      height: 90%; }
    .container-main .wrapper-content .container-lander .c--event-content {
      position: absolute;
      height: 200px;
      width: 100vw;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: calc((415px - 240px)/2);
      text-align: center; }
      .container-main .wrapper-content .container-lander .c--event-content .c--event-content__title {
        margin: 8px 0 0 10px; }
      .container-main .wrapper-content .container-lander .c--event-content .c--event-content__title p {
        color: white;
        font-family: 'CircularBook', Arial, Helvetica, sans-serif;
        letter-spacing: 5px;
        font-size: 15px;
        margin: 0; }
      .container-main .wrapper-content .container-lander .c--event-content .c--event-content__title .c--event-content__title--margin {
        margin: 0 5px 0 5px; }
      .container-main .wrapper-content .container-lander .c--event-content .c--event--content__main__text h1 {
        letter-spacing: 3px;
        font-size: 60px;
        font-family: 'Pentaprism', Arial, Helvetica, sans-serif;
        color: white;
        width: 70vw;
        margin: -5px 15vw; }
    .container-main .wrapper-content .container-lander .c--event-content__paragraph .c--event-content__paragraph__span {
      margin-top: 5px; }
    .container-main .wrapper-content .container-lander .c--event-content__paragraph .c--event-content__paragraph__span span {
      color: white;
      font-family: 'CircularBook', Arial, Helvetica, sans-serif;
      letter-spacing: 1.3px;
      font-size: 15px;
      margin: 0 0 0 5px; }
    .container-main .wrapper-content .button-placeholder {
      height: 10%;
      width: 100%;
      position: absolute;
      bottom: 0;
      background: black; }
      .container-main .wrapper-content .button-placeholder button p {
        letter-spacing: 2px;
        font-size: 11px;
        font-family: 'CircularBook';
        color: #FFFFFF; }
  .container-shop-party {
    margin: 30px 0; }
  .container-shop-party .i--shop-party {
    margin: 6.25% 0; }
  .container-shop-party .i--shop-party img {
    height: 128.125%;
    width: 90%;
    max-height: 825px;
    max-width: 580px; }
  .container-shop-party .i--shop-party .c--hexagon-container {
    position: absolute;
    width: 90%; }
  .container-shop-party .i--shop-party .c--hexagon-container .c--hexagon {
    position: relative;
    width: 90px;
    height: 51.96px;
    background-color: #000000;
    margin: 25.98px 0; }
    .container-shop-party .i--shop-party .c--hexagon-container .c--hexagon .c--hexagon-text {
      margin: 10px 0 0 0; }
    .container-shop-party .i--shop-party .c--hexagon-container .c--hexagon .c--hexagon-text p {
      text-align: center;
      font-size: 9px;
      font-family: 'CircularBook';
      margin: 1px 0;
      letter-spacing: 1.8px;
      color: white; }
  .container-shop-party .i--shop-party .c--hexagon-container .c--hexagon:before,
  .container-shop-party .i--shop-party .c--hexagon-container .c--hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent; }
  .container-shop-party .i--shop-party .c--hexagon-container .c--hexagon:before {
    bottom: 100%;
    border-bottom: 25.98px solid #000000; }
  .container-shop-party .i--shop-party .c--hexagon-container .c--hexagon:after {
    top: 100%;
    width: 0;
    border-top: 25.98px solid #000000; }
  .container-shop-party .i--shop-party .c--center-large-text {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 30% 0 0 10px; }
    .container-shop-party .i--shop-party .c--center-large-text h1 {
      color: white;
      font-family: 'CircularBold';
      font-size: 117px;
      letter-spacing: 1px;
      margin: 0; }
  .i--event-sequin {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 20px 0;
    width: 100%;
    height: 320px; }
  .i--event-sequin img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    height: 320px; }
  .i--event-sequin .event-sequin-container__title {
    position: absolute;
    height: 160px;
    width: 100%; }
    .i--event-sequin .event-sequin-container__title .c--event-sequin__title {
      margin: 40px 0 0 25px;
      height: 160px;
      width: 50%; }
      .i--event-sequin .event-sequin-container__title .c--event-sequin__title h1 {
        color: white;
        font-size: 35px;
        margin: 0; }
    .i--event-sequin .event-sequin-container__title .event-sequin__paragraph {
      position: absolute;
      display: none; }
      .i--event-sequin .event-sequin-container__title .event-sequin__paragraph .c--event-sequin__paragraph__span {
        display: none; }
  .i--event-sequin .event-sequin-container__text {
    position: absolute;
    height: 160px;
    width: 100%;
    bottom: 0; }
    .i--event-sequin .event-sequin-container__text .event-sequin-design__div {
      width: calc(100% * (108/320));
      height: 4px;
      margin: 5px 0 0 0;
      background: white; }
  .i--event-sequin .c--hexagon-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0 0 15px 15px;
    width: 100%; }
    .i--event-sequin .c--hexagon-container .c--hexagon {
      position: relative;
      width: 80px;
      height: 46.19px;
      background-color: #000000;
      margin: 23.09px 0; }
      .i--event-sequin .c--hexagon-container .c--hexagon .c--hexagon-text {
        margin: 10px 0 0 0; }
      .i--event-sequin .c--hexagon-container .c--hexagon .c--hexagon-text p {
        text-align: center;
        font-size: 9px;
        font-family: 'CircularBook';
        margin: 1px 0;
        letter-spacing: 1.8px;
        color: white; }
    .i--event-sequin .c--hexagon-container .c--hexagon:before,
    .i--event-sequin .c--hexagon-container .c--hexagon:after {
      content: "";
      position: absolute;
      width: 0;
      border-left: 40px solid transparent;
      border-right: 40px solid transparent; }
    .i--event-sequin .c--hexagon-container .c--hexagon:before {
      bottom: 100%;
      border-bottom: 23.09px solid #000000; }
    .i--event-sequin .c--hexagon-container .c--hexagon:after {
      top: 100%;
      width: 0;
      border-top: 23.09px solid #000000; }
  .container-shop-shape {
    margin: 30px 0; }
  .container-shop-shape .i--shop-shape {
    width: 100%;
    margin: 6.25% 0; }
  .container-shop-shape .i--shop-shape img {
    height: 107.8125%;
    width: 90%;
    max-height: 700px;
    max-width: 580px; }
  .container-shop-shape .i--shop-shape .c--hexagon-container {
    position: absolute;
    width: 90%; }
  .container-shop-shape .i--shop-shape .c--hexagon-container .c--hexagon {
    position: relative;
    width: 90px;
    height: 51.96px;
    background-color: #000000;
    margin: 25.98px 0; }
    .container-shop-shape .i--shop-shape .c--hexagon-container .c--hexagon .c--hexagon-text {
      margin: 10px 0 0 0; }
    .container-shop-shape .i--shop-shape .c--hexagon-container .c--hexagon .c--hexagon-text p {
      text-align: center;
      font-size: 9px;
      font-family: 'CircularBook';
      margin: 1px 0;
      letter-spacing: 1.8px;
      color: white; }
  .container-shop-shape .i--shop-shape .c--hexagon-container .c--hexagon:before,
  .container-shop-shape .i--shop-shape .c--hexagon-container .c--hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent; }
  .container-shop-shape .i--shop-shape .c--hexagon-container .c--hexagon:before {
    bottom: 100%;
    border-bottom: 25.98px solid #000000; }
  .container-shop-shape .i--shop-shape .c--hexagon-container .c--hexagon:after {
    top: 100%;
    width: 0;
    border-top: 25.98px solid #000000; }
  .i--shop-accessories {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 20px 0;
    width: 100%;
    height: 320px; }
    .i--shop-accessories img {
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      transform: translate(-48%, 3%) scale(1.05);
      height: 320px; }
    .i--shop-accessories .shop-accessories-container__title {
      position: absolute;
      height: 240px;
      width: 100%; }
      .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title {
        margin: 65px 0 0 15px;
        height: 160px;
        width: 80%; }
        .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title h1 {
          color: white;
          font-family: 'Pentaprism';
          font-size: 54px;
          letter-spacing: 5px;
          margin: 0; }
        .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title h5 {
          color: white;
          font-family: 'CircularBook';
          font-size: 13px;
          letter-spacing: 6px;
          margin: 4px 0 -2px 0; }
        .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title p {
          color: white;
          font-family: 'CircularBook';
          font-size: 11px;
          letter-spacing: 1px;
          margin: 10px 0; }
    .i--shop-accessories .shop-accessories-container__text {
      position: absolute;
      height: 80px;
      width: 100%;
      bottom: 0; }
      .i--shop-accessories .shop-accessories-container__text .shop-accessories-design__div {
        width: calc(100% * (108/320));
        height: 4px;
        margin: 8px 0 0 0;
        background: white; }
    .i--shop-accessories .c--hexagon-container .c--hexagon {
      position: relative;
      width: 90px;
      height: 51.96px;
      background-color: #000000;
      margin: 25.98px 0; }
      .i--shop-accessories .c--hexagon-container .c--hexagon .c--hexagon-text {
        margin: 10px 0 0 0; }
      .i--shop-accessories .c--hexagon-container .c--hexagon .c--hexagon-text p {
        text-align: center;
        font-size: 9px;
        font-family: 'CircularBook';
        margin: 1px 0;
        letter-spacing: 1.8px;
        color: white; }
    .i--shop-accessories .c--hexagon-container .c--hexagon:before,
    .i--shop-accessories .c--hexagon-container .c--hexagon:after {
      content: "";
      position: absolute;
      width: 0;
      border-left: 45px solid transparent;
      border-right: 45px solid transparent; }
    .i--shop-accessories .c--hexagon-container .c--hexagon:before {
      bottom: 100%;
      border-bottom: 25.98px solid #000000; }
    .i--shop-accessories .c--hexagon-container .c--hexagon:after {
      top: 100%;
      width: 0;
      border-top: 25.98px solid #000000; }
  .btn {
    width: 100%;
    height: 38px;
    margin: 30px 0 0 0; }
  .btn:nth-of-type(1) {
    background: black;
    font-family: 'CircularBook';
    font-size: 12px;
    letter-spacing: 2px;
    color: white; }
  .btn:nth-of-type(2) {
    background: #a08540;
    font-family: 'CircularBook';
    font-size: 12px;
    letter-spacing: 2px;
    color: white; }
  .footer-bottom {
    height: 36px;
    width: 100%; } }

/*Phablet Design*/
@media only screen and (min-width: 576px) {
  .u--margin-top-left-hexagon {
    margin-top: 20px;
    margin-left: 20px; }
  .u--margin-top-right-hexagon {
    margin-top: 20px;
    margin-left: -20px;
    margin-right: 20px; }
  .u--margin-bottom-left-hexagon {
    margin: 0 0 15px 15px; }
  .u--margin-bottom-right-hexagon {
    margin-top: -20px;
    margin-left: -20px; }
  .container-main {
    width: 100%;
    background: #fbe4d5; }
  .container-main .nav-bar {
    height: 125px;
    width: 100%;
    background: #FFFFFF; }
  .container-main .component-wrapper {
    height: 60px;
    width: inherit;
    background: #a08540; }
  .container-main .component-wrapper .c--component {
    height: 56px;
    width: inherit;
    margin: 2px 0 2px 0;
    background: black; }
  .container-main .component-wrapper .c--component .lander-top-font__p {
    font-family: 'Pentaprism', Arial, Helvetica, sans-serif;
    color: #a08540;
    font-weight: 800;
    font-size: 45px; }
  .container-main .component-wrapper .c--component .foot-bottom-font__p {
    font-family: 'Pentaprism', Arial, Helvetica, sans-serif;
    color: #a08540;
    font-weight: 800;
    font-size: 38px; }
  .container-main .wrapper-content {
    height: 425px;
    background: #fbe4d5; }
    .container-main .wrapper-content .container-lander {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 415px;
      margin: 10px 0 10px 0; }
    .container-main .wrapper-content .container-lander .c--translated-label {
      position: absolute;
      top: 0;
      transform-origin: 45px 45px;
      transform: rotate(-90deg); }
      .container-main .wrapper-content .container-lander .c--translated-label p {
        letter-spacing: 2px;
        font-size: 9px;
        color: #FFFFFF; }
    .container-main .wrapper-content .container-lander .i--lander-img img {
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      height: 100%; }
    .container-main .wrapper-content .container-lander .c--event-content {
      position: absolute;
      height: 200px;
      width: 100vw;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: calc((415px - 190px)/2);
      text-align: center; }
      .container-main .wrapper-content .container-lander .c--event-content .c--event-content__title {
        margin: 0 0 0 10px; }
      .container-main .wrapper-content .container-lander .c--event-content .c--event-content__title p {
        color: white;
        font-family: 'CircularBook', Arial, Helvetica, sans-serif;
        letter-spacing: 4px;
        font-size: 15px;
        margin: 0; }
      .container-main .wrapper-content .container-lander .c--event-content .c--event-content__title .c--event-content__title--margin {
        margin: 0 5px 0 5px; }
      .container-main .wrapper-content .container-lander .c--event-content .c--event--content__main__text h1 {
        font-size: 60px;
        font-family: 'Pentaprism', Arial, Helvetica, sans-serif;
        color: white;
        width: 50vw;
        margin: 8px 25vw; }
    .container-main .wrapper-content .container-lander .c--event-content__paragraph {
      margin-top: 15px; }
    .container-main .wrapper-content .container-lander .c--event-content__paragraph p {
      color: white;
      font-family: 'CircularBook', Arial, Helvetica, sans-serif;
      letter-spacing: 1.3px;
      font-size: 15px;
      margin: 0px 0 -5px 15px; }
    .container-main .wrapper-content .button-placeholder {
      height: 38px;
      width: 100%;
      position: absolute;
      bottom: 0;
      background: black; }
      .container-main .wrapper-content .button-placeholder button {
        height: 38px;
        width: 320px; }
        .container-main .wrapper-content .button-placeholder button p {
          letter-spacing: 2px;
          font-size: 11px;
          font-family: 'CircularBook';
          color: #FFFFFF; }
  .container-shop-party {
    margin: 30px 0; }
  .container-shop-party .i--shop-party {
    margin: 6.25% 0; }
  .container-shop-party .i--shop-party img {
    height: 128.125%;
    width: 90%;
    max-height: 825px;
    max-width: 580px; }
  .container-shop-party .i--shop-party .c--hexagon-container {
    position: absolute;
    width: 90%;
    max-width: 580px; }
  .container-shop-party .i--shop-party .c--hexagon-container .c--hexagon {
    position: relative;
    width: 100px;
    height: 57.74px;
    background-color: #000000;
    margin: 28.87px 0; }
    .container-shop-party .i--shop-party .c--hexagon-container .c--hexagon .c--hexagon-text {
      margin: 10px 0 0 0; }
    .container-shop-party .i--shop-party .c--hexagon-container .c--hexagon .c--hexagon-text p {
      text-align: center;
      font-size: 9px;
      font-family: 'CircularBook';
      margin: 1px 0;
      letter-spacing: 1.8px;
      color: white; }
  .container-shop-party .i--shop-party .c--hexagon-container .c--hexagon:before,
  .container-shop-party .i--shop-party .c--hexagon-container .c--hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent; }
  .container-shop-party .i--shop-party .c--hexagon-container .c--hexagon:before {
    bottom: 100%;
    border-bottom: 28.87px solid #000000; }
  .container-shop-party .i--shop-party .c--hexagon-container .c--hexagon:after {
    top: 100%;
    width: 0;
    border-top: 28.87px solid #000000; }
  .container-shop-party .i--shop-party .c--center-large-text {
    position: absolute;
    width: 100%;
    height: 100%; }
    .container-shop-party .i--shop-party .c--center-large-text h1 {
      color: white;
      font-family: 'CircularBold';
      font-size: 150px;
      letter-spacing: 1px;
      margin: 0 0 0 30px; }
  .i--event-sequin {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 20px 0;
    width: 100%;
    /*Same aspect height as lander image*/
    height: 373px; }
  .i--event-sequin img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    /*Same aspect height as lander image*/
    height: 373px; }
  .i--event-sequin .event-sequin-container__title {
    position: absolute;
    height: 200px;
    width: 100%; }
    .i--event-sequin .event-sequin-container__title .c--event-sequin__title {
      margin: 30px 0 0 30px;
      height: 200px;
      width: 50%; }
      .i--event-sequin .event-sequin-container__title .c--event-sequin__title h1 {
        color: white;
        font-size: 52px;
        margin: 0; }
  .i--event-sequin .event-sequin-container__text {
    position: absolute;
    height: 160px;
    width: 100%;
    bottom: 0; }
    .i--event-sequin .event-sequin-container__text .event-sequin-design__div {
      width: calc(100% * (108/320));
      height: 4px;
      margin: 20px 0 0 0;
      background: white; }
  .i--event-sequin .c--hexagon-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0 0 15px 15px;
    width: 100%; }
    .i--event-sequin .c--hexagon-container .c--hexagon {
      position: relative;
      width: 80px;
      height: 46.19px;
      background-color: #000000;
      margin: 23.09px 0; }
      .i--event-sequin .c--hexagon-container .c--hexagon .c--hexagon-text {
        margin: 10px 0 0 0; }
      .i--event-sequin .c--hexagon-container .c--hexagon .c--hexagon-text p {
        text-align: center;
        font-size: 9px;
        font-family: 'CircularBook';
        margin: 1px 0;
        letter-spacing: 1.8px;
        color: white; }
    .i--event-sequin .c--hexagon-container .c--hexagon:before,
    .i--event-sequin .c--hexagon-container .c--hexagon:after {
      content: "";
      position: absolute;
      width: 0;
      border-left: 40px solid transparent;
      border-right: 40px solid transparent; }
    .i--event-sequin .c--hexagon-container .c--hexagon:before {
      bottom: 100%;
      border-bottom: 23.09px solid #000000; }
    .i--event-sequin .c--hexagon-container .c--hexagon:after {
      top: 100%;
      width: 0;
      border-top: 23.09px solid #000000; }
  .container-shop-shape {
    margin: 30px 0; }
  .container-shop-shape .i--shop-shape {
    width: 100%;
    margin: 6.25% 0; }
  .container-shop-shape .i--shop-shape img {
    height: 107.8125%;
    width: 90%;
    max-height: 700px;
    max-width: 580px; }
  .container-shop-shape .i--shop-shape .c--hexagon-container {
    position: absolute;
    width: 90%;
    max-width: 580px; }
  .container-shop-shape .i--shop-shape .c--hexagon-container .c--hexagon {
    position: relative;
    width: 100px;
    height: 57.74px;
    background-color: #000000;
    margin: 28.87px 0; }
    .container-shop-shape .i--shop-shape .c--hexagon-container .c--hexagon .c--hexagon-text {
      margin: 10px 0 0 0; }
    .container-shop-shape .i--shop-shape .c--hexagon-container .c--hexagon .c--hexagon-text p {
      text-align: center;
      font-size: 9px;
      font-family: 'CircularBook';
      margin: 1px 0;
      letter-spacing: 1.8px;
      color: white; }
  .container-shop-shape .i--shop-shape .c--hexagon-container .c--hexagon:before,
  .container-shop-shape .i--shop-shape .c--hexagon-container .c--hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent; }
  .container-shop-shape .i--shop-shape .c--hexagon-container .c--hexagon:before {
    bottom: 100%;
    border-bottom: 28.87px solid #000000; }
  .container-shop-shape .i--shop-shape .c--hexagon-container .c--hexagon:after {
    top: 100%;
    width: 0;
    border-top: 28.87px solid #000000; }
  .i--shop-accessories {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 20px 0;
    width: 100%;
    /*Same aspect height as lander image*/
    height: 373px; }
    .i--shop-accessories img {
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      transform: translate(-48%, 3%) scale(1.05);
      /*Same aspect height as lander image*/
      height: 373px; }
    .i--shop-accessories .shop-accessories-container__title {
      position: absolute;
      height: 240px;
      width: 100%; }
      .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title {
        margin: 65px 0 0 15px;
        height: 200px;
        width: 80%; }
        .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title h1 {
          color: white;
          font-family: 'Pentaprism';
          font-size: 60px;
          letter-spacing: 6px;
          margin: 0; }
        .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title h5 {
          color: white;
          font-family: 'CircularBook';
          font-size: 16px;
          letter-spacing: 7px;
          margin: 4px 0 -2px 0; }
        .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title p {
          color: white;
          font-family: 'CircularBook';
          font-size: 14px;
          letter-spacing: 1px;
          margin: 10px 0; }
    .i--shop-accessories .shop-accessories-container__text {
      position: absolute;
      height: 80px;
      width: 100%;
      bottom: 0; }
      .i--shop-accessories .shop-accessories-container__text .shop-accessories-design__div {
        width: calc(100% * (108/320));
        height: 4px;
        margin: 8px 0 0 0;
        background: white; }
    .i--shop-accessories .c--hexagon-container .c--hexagon {
      position: relative;
      width: 100px;
      height: 57.74px;
      background-color: #000000;
      margin: 28.87px 0; }
      .i--shop-accessories .c--hexagon-container .c--hexagon .c--hexagon-text {
        margin: 10px 0 0 0; }
      .i--shop-accessories .c--hexagon-container .c--hexagon .c--hexagon-text p {
        text-align: center;
        font-size: 10px;
        font-family: 'CircularBook';
        margin: 1px 0;
        letter-spacing: 2.4px;
        color: white; }
    .i--shop-accessories .c--hexagon-container .c--hexagon:before,
    .i--shop-accessories .c--hexagon-container .c--hexagon:after {
      content: "";
      position: absolute;
      width: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent; }
    .i--shop-accessories .c--hexagon-container .c--hexagon:before {
      bottom: 100%;
      border-bottom: 28.87px solid #000000; }
    .i--shop-accessories .c--hexagon-container .c--hexagon:after {
      top: 100%;
      width: 0;
      border-top: 28.87px solid #000000; }
  .btn {
    width: 100%;
    height: 38px;
    margin: 30px 0 0 0; }
  .btn:nth-of-type(1) {
    background: black;
    font-family: 'CircularBook';
    font-size: 12px;
    letter-spacing: 2px;
    color: white; }
  .btn:nth-of-type(2) {
    background: #a08540;
    font-family: 'CircularBook';
    font-size: 12px;
    letter-spacing: 2px;
    color: white; }
  .footer-bottom {
    height: 36px;
    width: 100%; } }

@media only screen and (min-width: 768px) {
  .u--margin-top-left-hexagon {
    margin-top: 20px;
    margin-left: 20px; }
  .u--margin-top-right-hexagon {
    margin-top: 12.5px;
    margin-left: -12.5px;
    margin-right: 12.5px; }
  .u--margin-bottom-left-hexagon {
    margin: 0 0 15px 15px; }
  .u--margin-bottom-right-hexagon {
    margin-top: -12.5px;
    margin-left: -12.5px; }
  .container-main {
    width: 100%;
    background: #fbe4d5; }
  .container-main .nav-bar {
    height: 125px;
    width: 100%;
    background: #FFFFFF; }
  .container-main .component-wrapper {
    height: 60px;
    width: inherit;
    background: #a08540;
    margin-bottom: 10px; }
  .container-main .component-wrapper .c--component {
    height: 56px;
    width: inherit;
    margin: 2px 0 2px 0;
    background: black; }
  .container-main .component-wrapper .c--component .lander-top-font__p {
    font-family: 'Pentaprism', Arial, Helvetica, sans-serif;
    color: #a08540;
    font-weight: 800;
    font-size: 45px; }
  .container-main .component-wrapper .c--component .foot-bottom-font__p {
    font-family: 'Pentaprism', Arial, Helvetica, sans-serif;
    color: #a08540;
    font-weight: 800;
    font-size: 34px;
    letter-spacing: 1.5px;
    margin: -5px 0 0 0; }
  .container-main .wrapper-content {
    height: 560px;
    background: #fbe4d5; }
    .container-main .wrapper-content .container-lander {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 560px;
      margin: 10px 0 10px 0; }
    .container-main .wrapper-content .container-lander .c--translated-label {
      position: absolute;
      top: 0;
      transform-origin: 65px 65px;
      transform: rotate(-90deg); }
      .container-main .wrapper-content .container-lander .c--translated-label p {
        letter-spacing: 2px;
        font-size: 12px;
        color: #FFFFFF; }
    .container-main .wrapper-content .container-lander .i--lander-img {
      position: relative;
      background: black;
      height: 100%;
      width: 100%; }
      .container-main .wrapper-content .container-lander .i--lander-img img {
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        height: 100%; }
    .container-main .wrapper-content .container-lander .c--event-content {
      position: absolute;
      height: 200px;
      width: 100vw;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: calc((560px - 170px)/2);
      text-align: center; }
      .container-main .wrapper-content .container-lander .c--event-content .c--event-content__title {
        margin: 8px 0 0 10px; }
      .container-main .wrapper-content .container-lander .c--event-content .c--event-content__title p {
        color: white;
        font-family: 'CircularBook', Arial, Helvetica, sans-serif;
        letter-spacing: 5px;
        font-size: 20px;
        margin: 0; }
      .container-main .wrapper-content .container-lander .c--event-content .c--event-content__title .c--event-content__title--margin {
        margin: 0 10px; }
      .container-main .wrapper-content .container-lander .c--event-content .c--event--content__main__text h1 {
        letter-spacing: 3px;
        font-size: 72px;
        font-family: 'Pentaprism', Arial, Helvetica, sans-serif;
        color: white;
        width: 70vw;
        margin: -5px 15vw; }
    .container-main .wrapper-content .container-lander .c--event-content__paragraph {
      margin-top: 15px; }
    .container-main .wrapper-content .container-lander .c--event-content__paragraph .c--event-content__paragraph__span {
      display: inline; }
    .container-main .wrapper-content .container-lander .c--event-content__paragraph .c--event-content__paragraph__span span {
      color: white;
      font-family: 'CircularBook', Arial, Helvetica, sans-serif;
      letter-spacing: 1.3px;
      font-size: 15px;
      margin: 0 0 0 5px; }
    .container-main .wrapper-content .button-placeholder {
      height: 38px;
      width: 100%;
      position: absolute;
      bottom: 170px;
      background: none; }
      .container-main .wrapper-content .button-placeholder button {
        height: 38px;
        width: 230px;
        background: black; }
      .container-main .wrapper-content .button-placeholder p {
        letter-spacing: 2px;
        font-size: 11px;
        font-family: 'CircularBook';
        color: #FFFFFF; }
  .container-shop-party {
    margin: 30px 0; }
  .container-shop-party .container-shop-party-top {
    display: flex;
    justify-content: center;
    align-items: center; }
  .container-shop-party .container-shop-party-top #shop-party__img-left {
    display: inline-flex;
    justify-content: flex-end;
    margin: 50px 10px 0 0; }
  .container-shop-party .container-shop-party-top #shop-party__img-right {
    display: inline-flex;
    justify-content: flex-start;
    margin: 50px 0 0 10px; }
  .container-shop-party .container-shop-party-top .i--shop-party {
    margin: 2.77778% 0; }
  .container-shop-party .container-shop-party-top .i--shop-party img {
    height: 128.125%;
    width: 90%;
    max-height: 825px;
    max-width: 580px; }
  .container-shop-party .container-shop-party-top .i--shop-party .c--hexagon-container {
    position: absolute;
    width: 44%;
    max-width: 522px; }
  .container-shop-party .container-shop-party-top .i--shop-party .c--hexagon-container .c--hexagon {
    position: relative;
    width: 90px;
    height: 51.96px;
    background-color: #000000;
    margin: 25.98px 0; }
    .container-shop-party .container-shop-party-top .i--shop-party .c--hexagon-container .c--hexagon .c--hexagon-text {
      margin: 10px 0 0 0; }
    .container-shop-party .container-shop-party-top .i--shop-party .c--hexagon-container .c--hexagon .c--hexagon-text p {
      text-align: center;
      font-size: 10px;
      font-family: 'CircularBook';
      margin: 1px 0;
      letter-spacing: 2.4px;
      color: white; }
  .container-shop-party .container-shop-party-top .i--shop-party .c--hexagon-container .c--hexagon:before,
  .container-shop-party .container-shop-party-top .i--shop-party .c--hexagon-container .c--hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent; }
  .container-shop-party .container-shop-party-top .i--shop-party .c--hexagon-container .c--hexagon:before {
    bottom: 100%;
    border-bottom: 25.98px solid #000000; }
  .container-shop-party .container-shop-party-top .i--shop-party .c--hexagon-container .c--hexagon:after {
    top: 100%;
    width: 0;
    border-top: 25.98px solid #000000; }
  .container-shop-party .container-shop-party-top .i--shop-party .c--center-large-text {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 30% 0 0 10px; }
    .container-shop-party .container-shop-party-top .i--shop-party .c--center-large-text h1 {
      color: white;
      font-family: 'CircularBold';
      font-size: 90px;
      letter-spacing: 1px;
      margin: 0; }
  .i--event-sequin {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 20px 0;
    width: 100%;
    /*Same aspect height as lander image*/
    /*At 90% to fit in with size consistency of the models*/
    height: calc(560px * .9); }
  .i--event-sequin img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    /*Same aspect height as lander image*/
    height: 100%; }
  .i--event-sequin .event-sequin-container__title {
    position: absolute;
    height: 100%;
    width: 100%; }
    .i--event-sequin .event-sequin-container__title .c--event-sequin__title {
      margin: 30px 0 0 50px;
      height: 200px;
      width: 50%; }
      .i--event-sequin .event-sequin-container__title .c--event-sequin__title h1 {
        color: white;
        font-size: 72px;
        margin: 0; }
    .i--event-sequin .event-sequin-container__title .event-sequin__paragraph {
      position: absolute;
      display: block;
      margin: 5px 0; }
      .i--event-sequin .event-sequin-container__title .event-sequin__paragraph .c--event-sequin__paragraph__span {
        display: block;
        font-family: 'CircularBook';
        color: white;
        letter-spacing: 1px;
        margin: 5px 0 0 0; }
    .i--event-sequin .event-sequin-container__title .button-placeholder {
      display: block;
      height: 38px;
      width: 100%;
      position: absolute;
      bottom: 95px;
      background: none; }
      .i--event-sequin .event-sequin-container__title .button-placeholder button {
        height: 38px;
        width: 230px;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center; }
        .i--event-sequin .event-sequin-container__title .button-placeholder button p {
          letter-spacing: 2px;
          font-size: 11px;
          font-family: 'CircularBook';
          color: #FFFFFF; }
  .i--event-sequin .event-sequin-container__text {
    position: absolute;
    height: 180px;
    width: 100%;
    bottom: 0; }
    .i--event-sequin .event-sequin-container__text .event-sequin-design__div {
      width: calc(100% * (108/320));
      height: 8px;
      margin: 20px 0 0 0;
      background: white; }
  .i--event-sequin .c--hexagon-container {
    display: none; }
  .container-shop-shape {
    margin: 0; }
  .container-shop-shape .container-shop-party-top {
    display: flex;
    justify-content: center;
    align-items: center; }
  .container-shop-shape .container-shop-party-top #shop-party__img-left {
    display: inline-flex;
    justify-content: flex-end;
    margin: 20px 10px 20px 0;
    width: 48%; }
  .container-shop-shape .container-shop-party-top #shop-party__img-right {
    display: inline-flex;
    justify-content: flex-start;
    margin: 20px 0 20px 10px;
    width: 48%; }
  .container-shop-shape .container-shop-party-top .i--shop-shape {
    width: 100%;
    margin: 2.77778% 0; }
  .container-shop-shape .container-shop-party-top .i--shop-shape img {
    height: 107.8125%;
    width: 90%;
    max-height: 700px;
    max-width: 580px; }
  .container-shop-shape .container-shop-party-top .i--shop-shape .c--hexagon-container {
    position: absolute;
    width: 44%;
    max-width: 580px; }
  .container-shop-shape .container-shop-party-top .i--shop-shape .c--hexagon-container .c--hexagon {
    position: relative;
    width: 90px;
    height: 51.96px;
    background-color: #000000;
    margin: 25.98px 0; }
    .container-shop-shape .container-shop-party-top .i--shop-shape .c--hexagon-container .c--hexagon .c--hexagon-text {
      margin: 10px 0 0 0; }
    .container-shop-shape .container-shop-party-top .i--shop-shape .c--hexagon-container .c--hexagon .c--hexagon-text p {
      text-align: center;
      font-size: 10px;
      font-family: 'CircularBook';
      margin: 1px 0;
      letter-spacing: 2.4px;
      color: white; }
  .container-shop-shape .container-shop-party-top .i--shop-shape .c--hexagon-container .c--hexagon:before,
  .container-shop-shape .container-shop-party-top .i--shop-shape .c--hexagon-container .c--hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent; }
  .container-shop-shape .container-shop-party-top .i--shop-shape .c--hexagon-container .c--hexagon:before {
    bottom: 100%;
    border-bottom: 25.98px solid #000000; }
  .container-shop-shape .container-shop-party-top .i--shop-shape .c--hexagon-container .c--hexagon:after {
    top: 100%;
    width: 0;
    border-top: 25.98px solid #000000; }
  .i--shop-accessories {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 20px 0;
    width: 100%;
    /*Same aspect height as lander image*/
    height: calc(560px*.9); }
    .i--shop-accessories img {
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      transform: translate(-48%, 3%) scale(1.05);
      /*Same aspect height as lander image*/
      height: 100%; }
    .i--shop-accessories .shop-accessories-container__title {
      position: absolute;
      height: 100%;
      width: 100%; }
      .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title {
        margin: 65px 0 0 30px;
        height: 200px;
        width: 80%; }
        .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title h1 {
          color: white;
          font-family: 'Pentaprism';
          font-size: 80px;
          letter-spacing: 7px;
          margin: 0; }
        .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title h5 {
          color: white;
          font-family: 'CircularBook';
          font-size: 20px;
          letter-spacing: 6px;
          margin: 6px 0 -2px 0; }
        .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title p {
          color: white;
          font-family: 'CircularBook';
          font-size: 16px;
          letter-spacing: 2px;
          margin: 8px 0; }
        .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title .button-placeholder {
          display: block; }
          .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title .button-placeholder p {
            color: white;
            font-family: 'CircularBook';
            font-size: 12px;
            letter-spacing: 1px;
            margin: 0; }
    .i--shop-accessories .shop-accessories-container__text {
      position: absolute;
      height: 185px;
      width: 100%;
      bottom: 0; }
      .i--shop-accessories .shop-accessories-container__text .shop-accessories-design__div {
        width: calc(100% * (108/320));
        height: 8px;
        margin: 16px 0 0 0;
        background: white; }
    .i--shop-accessories .c--hexagon-container {
      display: none; }
    .i--shop-accessories .button-placeholder {
      height: 38px;
      width: 100%;
      position: absolute;
      bottom: 100px;
      background: none; }
      .i--shop-accessories .button-placeholder button {
        height: 38px;
        width: 230px;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center; }
        .i--shop-accessories .button-placeholder button p {
          letter-spacing: 2px;
          font-size: 11px;
          font-family: 'CircularBook';
          color: #FFFFFF; }
  .btn {
    width: 100%;
    height: 38px;
    margin: 30px 0 0 0; }
  .btn:nth-of-type(1) {
    background: black;
    font-family: 'CircularBook';
    font-size: 12px;
    letter-spacing: 2px;
    color: white; }
  .btn:nth-of-type(2) {
    background: #a08540;
    font-family: 'CircularBook';
    font-size: 12px;
    letter-spacing: 2px;
    color: white; }
  .footer-bottom {
    height: 36px;
    width: 100%; } }

/*Tablet Design + split screen mode on desktop*/
@media only screen and (min-width: 992px) {
  .u--margin-top-left-hexagon {
    margin-top: 20px;
    margin-left: 20px; }
  .u--margin-top-right-hexagon {
    margin-top: 12.5px;
    margin-left: -12.5px;
    margin-right: 12.5px; }
  .u--margin-bottom-left-hexagon {
    margin: 0 0 15px 15px; }
  .u--margin-bottom-right-hexagon {
    margin-top: -12.5px;
    margin-left: -12.5px; }
  .container-main {
    width: 100%;
    background: #fbe4d5; }
  .container-main .nav-bar {
    height: 125px;
    width: 100%;
    background: #FFFFFF; }
  .container-main .component-wrapper {
    height: 60px;
    width: inherit;
    background: #a08540; }
  .container-main .component-wrapper .c--component {
    height: 56px;
    width: inherit;
    margin: 2px 0 2px 0;
    background: black; }
  .container-main .component-wrapper .c--component .lander-top-font__p {
    font-family: 'Pentaprism', Arial, Helvetica, sans-serif;
    color: #a08540;
    font-weight: 800;
    font-size: 45px; }
  .container-main .component-wrapper .c--component .foot-bottom-font__p {
    font-family: 'Pentaprism', Arial, Helvetica, sans-serif;
    color: #a08540;
    font-weight: 800;
    font-size: 38px; }
  .container-main .wrapper-content {
    height: 744px;
    background: #fbe4d5; }
    .container-main .wrapper-content .container-lander {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 744px;
      margin: 10px 0 10px 0; }
    .container-main .wrapper-content .container-lander .c--translated-label {
      position: absolute;
      top: 0;
      transform-origin: 85px 85px;
      transform: rotate(-90deg); }
      .container-main .wrapper-content .container-lander .c--translated-label p {
        letter-spacing: 4px;
        font-size: 16px;
        color: #FFFFFF; }
    .container-main .wrapper-content .container-lander .i--lander-img {
      position: relative;
      background: black;
      height: 100%;
      width: 100%; }
      .container-main .wrapper-content .container-lander .i--lander-img img {
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        height: 100%; }
    .container-main .wrapper-content .container-lander .c--event-content {
      position: absolute;
      height: 350px;
      width: 100vw;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: calc((744px - 220px)/2);
      text-align: center; }
      .container-main .wrapper-content .container-lander .c--event-content .c--event-content__title {
        margin: 0 0 0 15px; }
      .container-main .wrapper-content .container-lander .c--event-content .c--event-content__title p {
        color: white;
        font-family: 'CircularBook', Arial, Helvetica, sans-serif;
        letter-spacing: 12px;
        font-size: 25px;
        margin: 0; }
      .container-main .wrapper-content .container-lander .c--event-content .c--event-content__title .c--event-content__title--margin {
        margin: 0 10px; }
      .container-main .wrapper-content .container-lander .c--event-content .c--event--content__main__text h1 {
        font-size: 120px;
        font-family: 'Pentaprism', Arial, Helvetica, sans-serif;
        color: white;
        width: 90vw;
        margin: -10px 5vw;
        letter-spacing: -2px; }
    .container-main .wrapper-content .container-lander .c--event-content__paragraph {
      margin-top: 10px;
      margin-left: 20px; }
    .container-main .wrapper-content .container-lander .c--event-content__paragraph .c--event-content__paragraph__span {
      display: inline; }
    .container-main .wrapper-content .container-lander .c--event-content__paragraph .c--event-content__paragraph__span span {
      color: white;
      font-family: 'CircularBook', Arial, Helvetica, sans-serif;
      letter-spacing: 2px;
      font-size: 21px;
      margin: 0 0 0 3px; }
    .container-main .wrapper-content .button-placeholder {
      height: 43px;
      width: 100%;
      position: absolute;
      bottom: 235px;
      background: none; }
      .container-main .wrapper-content .button-placeholder button {
        height: 43px;
        width: 320px;
        background: black; }
        .container-main .wrapper-content .button-placeholder button p {
          margin: 0;
          letter-spacing: 2.5px;
          font-size: 15px;
          font-family: 'CircularBook';
          color: #FFFFFF; }
  .container-shop-party {
    margin: 30px 0; }
  .container-shop-party .container-shop-party-top {
    display: flex;
    justify-content: center;
    align-items: center; }
  .container-shop-party .container-shop-party-top #shop-party__img-left {
    display: inline-flex;
    justify-content: flex-end;
    margin: 50px 10px 0 0; }
  .container-shop-party .container-shop-party-top #shop-party__img-right {
    display: inline-flex;
    justify-content: flex-start;
    margin: 50px 0 0 10px; }
  .container-shop-party .container-shop-party-top .i--shop-party {
    margin: 2.77778% 0; }
  .container-shop-party .container-shop-party-top .i--shop-party img {
    height: 128.125%;
    width: 90%;
    max-height: 825px;
    max-width: 580px; }
  .container-shop-party .container-shop-party-top .i--shop-party .c--hexagon-container {
    position: absolute;
    width: 44%;
    max-width: 522px; }
  .container-shop-party .container-shop-party-top .i--shop-party .c--hexagon-container .c--hexagon {
    position: relative;
    width: 100px;
    height: 57.74px;
    background-color: #000000;
    margin: 28.87px 0; }
    .container-shop-party .container-shop-party-top .i--shop-party .c--hexagon-container .c--hexagon .c--hexagon-text {
      margin: 10px 0 0 0; }
    .container-shop-party .container-shop-party-top .i--shop-party .c--hexagon-container .c--hexagon .c--hexagon-text p {
      text-align: center;
      font-size: 10px;
      font-family: 'CircularBook';
      margin: 1px 0;
      letter-spacing: 2.4px;
      color: white; }
  .container-shop-party .container-shop-party-top .i--shop-party .c--hexagon-container .c--hexagon:before,
  .container-shop-party .container-shop-party-top .i--shop-party .c--hexagon-container .c--hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent; }
  .container-shop-party .container-shop-party-top .i--shop-party .c--hexagon-container .c--hexagon:before {
    bottom: 100%;
    border-bottom: 28.87px solid #000000; }
  .container-shop-party .container-shop-party-top .i--shop-party .c--hexagon-container .c--hexagon:after {
    top: 100%;
    width: 0;
    border-top: 28.87px solid #000000; }
  .container-shop-party .container-shop-party-top .i--shop-party .c--center-large-text {
    position: absolute;
    width: 100%;
    height: 100%; }
    .container-shop-party .container-shop-party-top .i--shop-party .c--center-large-text h1 {
      color: white;
      font-family: 'CircularBold';
      font-size: 150px;
      letter-spacing: 1px;
      margin: 0 0 0 15px; }
  .i--event-sequin {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 20px 0;
    width: 100%;
    /*Same aspect height as lander image*/
    /*At 90% to fit in with size consistency of the models*/
    height: 744px; }
  .i--event-sequin img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    /*Same aspect height as lander image*/
    height: 100%; }
  .i--event-sequin .event-sequin-container__title {
    position: absolute;
    height: 100%;
    width: 100%; }
    .i--event-sequin .event-sequin-container__title .c--event-sequin__title {
      margin: 68px 0 0 50px;
      height: 200px;
      width: 50%; }
      .i--event-sequin .event-sequin-container__title .c--event-sequin__title h1 {
        color: white;
        font-size: 72px;
        margin: 0; }
    .i--event-sequin .event-sequin-container__title .event-sequin__paragraph {
      position: absolute;
      display: block;
      margin: 5px 0; }
      .i--event-sequin .event-sequin-container__title .event-sequin__paragraph .c--event-sequin__paragraph__span {
        display: block;
        font-family: 'CircularBook';
        color: white;
        letter-spacing: 1px;
        margin: 5px 0 0 0; }
    .i--event-sequin .event-sequin-container__title .button-placeholder {
      display: block;
      height: 43px;
      width: 100%;
      position: absolute;
      bottom: 190px;
      background: none; }
      .i--event-sequin .event-sequin-container__title .button-placeholder button {
        height: 43px;
        width: 310px;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center; }
        .i--event-sequin .event-sequin-container__title .button-placeholder button p {
          letter-spacing: 2px;
          font-size: 13px;
          font-family: 'CircularBook';
          color: #FFFFFF; }
  .i--event-sequin .event-sequin-container__text {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0; }
    .i--event-sequin .event-sequin-container__text .event-sequin-design__div {
      width: calc(100% * (108/320));
      height: 8px;
      margin: -8px 0 0 0;
      background: white; }
  .i--event-sequin .c--hexagon-container {
    display: none; }
  .i--event-sequin .button-placeholder {
    height: 38px;
    width: 100%;
    position: absolute;
    bottom: 117px;
    background: none; }
    .i--event-sequin .button-placeholder button {
      height: 38px;
      width: 181px;
      background: black;
      display: flex;
      justify-content: center;
      align-items: center; }
      .i--event-sequin .button-placeholder button p {
        letter-spacing: 2px;
        font-size: 11px;
        font-family: 'CircularBook';
        color: #FFFFFF; }
  .container-shop-shape {
    margin: 0; }
  .container-shop-shape .container-shop-party-top {
    display: flex;
    justify-content: center;
    align-items: center; }
  .container-shop-shape .container-shop-party-top #shop-party__img-left {
    display: inline-flex;
    justify-content: flex-end;
    margin: 20px 10px 20px 0;
    width: 48%; }
  .container-shop-shape .container-shop-party-top #shop-party__img-right {
    display: inline-flex;
    justify-content: flex-start;
    margin: 20px 0 20px 10px;
    width: 48%; }
  .container-shop-shape .container-shop-party-top .i--shop-shape {
    width: 100%;
    margin: 2.77778% 0; }
  .container-shop-shape .container-shop-party-top .i--shop-shape img {
    height: 107.8125%;
    width: 90%;
    max-height: 700px;
    max-width: 580px; }
  .container-shop-shape .container-shop-party-top .i--shop-shape .c--hexagon-container {
    position: absolute;
    width: 44%;
    max-width: 580px; }
  .container-shop-shape .container-shop-party-top .i--shop-shape .c--hexagon-container .c--hexagon {
    position: relative;
    width: 100px;
    height: 57.74px;
    background-color: #000000;
    margin: 28.87px 0; }
    .container-shop-shape .container-shop-party-top .i--shop-shape .c--hexagon-container .c--hexagon .c--hexagon-text {
      margin: 10px 0 0 0; }
    .container-shop-shape .container-shop-party-top .i--shop-shape .c--hexagon-container .c--hexagon .c--hexagon-text p {
      text-align: center;
      font-size: 10px;
      font-family: 'CircularBook';
      margin: 1px 0;
      letter-spacing: 2.4px;
      color: white; }
  .container-shop-shape .container-shop-party-top .i--shop-shape .c--hexagon-container .c--hexagon:before,
  .container-shop-shape .container-shop-party-top .i--shop-shape .c--hexagon-container .c--hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent; }
  .container-shop-shape .container-shop-party-top .i--shop-shape .c--hexagon-container .c--hexagon:before {
    bottom: 100%;
    border-bottom: 28.87px solid #000000; }
  .container-shop-shape .container-shop-party-top .i--shop-shape .c--hexagon-container .c--hexagon:after {
    top: 100%;
    width: 0;
    border-top: 28.87px solid #000000; }
  .i--shop-accessories {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 20px 0;
    width: 100%;
    /*Same aspect height as lander image*/
    height: 744px;
    background: black; }
    .i--shop-accessories img {
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      transform: translate(-48%, 3%) scale(1.05);
      /*Same aspect height as lander image*/
      height: 100%;
      top: -5px !important; }
    .i--shop-accessories .shop-accessories-container__title {
      position: absolute;
      height: 100%;
      width: 100%; }
      .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title {
        margin: 130px 0 0 30px;
        height: 200px;
        width: 80%; }
        .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title h1 {
          color: white;
          font-family: 'Pentaprism';
          font-size: 80px;
          letter-spacing: 7px;
          margin: 0; }
        .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title h5 {
          color: white;
          font-family: 'CircularBook';
          font-size: 20px;
          letter-spacing: 6px;
          margin: 6px 0 -2px 0; }
        .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title p {
          color: white;
          font-family: 'CircularBook';
          font-size: 16px;
          letter-spacing: 2px;
          margin: 8px 0; }
        .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title .button-placeholder {
          display: block;
          height: 43px;
          width: 100%;
          position: absolute;
          bottom: 190px;
          background: none; }
          .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title .button-placeholder button {
            height: 43px;
            width: 310px;
            background: black;
            display: flex;
            justify-content: center;
            align-items: center; }
            .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title .button-placeholder button p {
              letter-spacing: 2px;
              font-size: 13px;
              font-family: 'CircularBook';
              color: #FFFFFF; }
    .i--shop-accessories .shop-accessories-container__text {
      position: absolute;
      height: 260px;
      width: 100%;
      bottom: 0; }
      .i--shop-accessories .shop-accessories-container__text .shop-accessories-design__div {
        width: calc(100% * (108/320));
        height: 8px;
        margin: -8px 0 0 0;
        background: white; }
    .i--shop-accessories .c--hexagon-container {
      display: none; }
    .i--shop-accessories .button-placeholder {
      height: 38px;
      width: 100%;
      position: absolute;
      bottom: 192px;
      background: none; }
      .i--shop-accessories .button-placeholder button {
        height: 38px;
        width: 230px;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center; }
        .i--shop-accessories .button-placeholder button p {
          letter-spacing: 2px;
          font-size: 11px;
          font-family: 'CircularBook';
          color: #FFFFFF; }
  .btn {
    width: 100%;
    height: 38px;
    margin: 30px 0 0 0; }
  .btn:nth-of-type(1) {
    background: black;
    font-family: 'CircularBook';
    font-size: 12px;
    letter-spacing: 2px;
    color: white; }
  .btn:nth-of-type(2) {
    background: #a08540;
    font-family: 'CircularBook';
    font-size: 12px;
    letter-spacing: 2px;
    color: white; }
  .footer-bottom {
    height: 36px;
    width: 100%; } }

/*Desktops fullscreen or more*/
@media only screen and (min-width: 1200px) {
  .u--margin-top-left-hexagon {
    margin-top: 20px;
    margin-left: 20px; }
  .u--margin-top-right-hexagon {
    margin-top: 20px;
    margin-left: -20px;
    margin-right: 20px; }
  .u--margin-bottom-left-hexagon {
    margin: 0 0 15px 15px; }
  .u--margin-bottom-right-hexagon {
    margin-top: -20px;
    margin-left: -20px; }
  .container-main {
    width: 100%;
    background: #fbe4d5; }
  .container-main .nav-bar {
    height: 125px;
    width: 100%;
    background: #FFFFFF; }
  .container-main .component-wrapper {
    height: 60px;
    width: inherit;
    background: #a08540; }
  .container-main .component-wrapper #c--component {
    justify-content: space-around; }
  .container-main .component-wrapper .c--component {
    height: 56px;
    width: inherit;
    margin: 2px 0 2px 0;
    background: black; }
  .container-main .component-wrapper .c--component .lander-top-font__p {
    font-family: 'Pentaprism', Arial, Helvetica, sans-serif;
    color: #a08540;
    font-weight: 800;
    font-size: 45px; }
  .container-main .component-wrapper .c--component .foot-bottom-font__p {
    font-family: 'Pentaprism', Arial, Helvetica, sans-serif;
    color: #a08540;
    font-weight: 800;
    font-size: 38px; }
  .container-main .component-wrapper .c--component .c--component__text {
    display: block;
    height: 100%;
    width: 520px;
    color: white;
    text-align: center; }
    .container-main .component-wrapper .c--component .c--component__text p {
      font-size: 18px;
      letter-spacing: 3.5px;
      margin: 10px 0 2px 0; }
    .container-main .component-wrapper .c--component .c--component__text .terms-and-conditions {
      display: inline-; }
    .container-main .component-wrapper .c--component .c--component__text .terms-and-conditions p {
      font-size: 14px;
      letter-spacing: 2px;
      margin: 3px 0; }
    .container-main .component-wrapper .c--component .c--component__text .terms-and-conditions p:before {
      content: "*"; }
  .container-main .component-wrapper .c--component .c--component__btn {
    display: block;
    height: 46px;
    width: 320px;
    background: #a08540; }
    .container-main .component-wrapper .c--component .c--component__btn p {
      font-size: 14px;
      letter-spacing: 2.5px;
      margin: 0;
      color: white; }
  .container-main .wrapper-content {
    height: 744px;
    background: #fbe4d5; }
    .container-main .wrapper-content .container-lander {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 744px;
      margin: 10px 0 10px 0; }
    .container-main .wrapper-content .container-lander .c--translated-label {
      position: absolute;
      top: 0;
      transform-origin: 85px 85px;
      transform: rotate(-90deg); }
      .container-main .wrapper-content .container-lander .c--translated-label p {
        letter-spacing: 4px;
        font-size: 16px;
        color: #FFFFFF; }
    .container-main .wrapper-content .container-lander .i--lander-img {
      position: relative;
      background: black;
      height: 100%;
      width: 100%; }
      .container-main .wrapper-content .container-lander .i--lander-img img {
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        height: 100%; }
    .container-main .wrapper-content .container-lander .c--event-content {
      position: absolute;
      height: 350px;
      width: 100vw;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: calc((744px - 220px)/2);
      text-align: center; }
      .container-main .wrapper-content .container-lander .c--event-content .c--event-content__title {
        margin: 0 0 0 15px; }
      .container-main .wrapper-content .container-lander .c--event-content .c--event-content__title p {
        color: white;
        font-family: 'CircularBook', Arial, Helvetica, sans-serif;
        letter-spacing: 12px;
        font-size: 25px;
        margin: 0; }
      .container-main .wrapper-content .container-lander .c--event-content .c--event-content__title .c--event-content__title--margin {
        margin: 0 10px; }
      .container-main .wrapper-content .container-lander .c--event-content .c--event--content__main__text h1 {
        font-size: 120px;
        font-family: 'Pentaprism', Arial, Helvetica, sans-serif;
        color: white;
        width: 90vw;
        margin: -10px 5vw;
        letter-spacing: -2px; }
    .container-main .wrapper-content .container-lander .c--event-content__paragraph {
      margin-top: 10px;
      margin-left: 20px; }
    .container-main .wrapper-content .container-lander .c--event-content__paragraph .c--event-content__paragraph__span {
      display: inline; }
    .container-main .wrapper-content .container-lander .c--event-content__paragraph .c--event-content__paragraph__span span {
      color: white;
      font-family: 'CircularBook', Arial, Helvetica, sans-serif;
      letter-spacing: 2px;
      font-size: 21px;
      margin: 0 0 0 3px; }
    .container-main .wrapper-content .button-placeholder {
      height: 43px;
      width: 100%;
      position: absolute;
      bottom: 235px;
      background: none; }
      .container-main .wrapper-content .button-placeholder button {
        height: 43px;
        width: 320px;
        background: black; }
        .container-main .wrapper-content .button-placeholder button p {
          margin: 0;
          letter-spacing: 2.5px;
          font-size: 15px;
          font-family: 'CircularBook';
          color: #FFFFFF; }
  .container-shop-party {
    margin: 30px 0; }
  .container-shop-party .container-shop-party-top {
    display: flex;
    justify-content: center;
    align-items: center; }
  .container-shop-party .container-shop-party-top #shop-party__img-left {
    display: inline-flex;
    justify-content: flex-end;
    margin: 50px 10px 0 0; }
  .container-shop-party .container-shop-party-top #shop-party__img-right {
    display: inline-flex;
    justify-content: flex-start;
    margin: 50px 0 0 10px; }
  .container-shop-party .container-shop-party-top .i--shop-party {
    margin: 2.77778% 0; }
  .container-shop-party .container-shop-party-top .i--shop-party img {
    height: 128.125%;
    width: 90%;
    max-height: 825px;
    max-width: 580px; }
  .container-shop-party .container-shop-party-top .i--shop-party .c--hexagon-container {
    position: absolute;
    width: 44%;
    max-width: 522px; }
  .container-shop-party .container-shop-party-top .i--shop-party .c--hexagon-container .c--hexagon {
    position: relative;
    width: 120px;
    height: 69.28px;
    background-color: #000000;
    margin: 34.64px 0; }
    .container-shop-party .container-shop-party-top .i--shop-party .c--hexagon-container .c--hexagon .c--hexagon-text {
      margin: 10px 0 0 0; }
    .container-shop-party .container-shop-party-top .i--shop-party .c--hexagon-container .c--hexagon .c--hexagon-text p {
      text-align: center;
      font-size: 12px;
      font-family: 'CircularBook';
      margin: 5px 0;
      letter-spacing: 4px;
      color: white; }
  .container-shop-party .container-shop-party-top .i--shop-party .c--hexagon-container .c--hexagon:before,
  .container-shop-party .container-shop-party-top .i--shop-party .c--hexagon-container .c--hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent; }
  .container-shop-party .container-shop-party-top .i--shop-party .c--hexagon-container .c--hexagon:before {
    bottom: 100%;
    border-bottom: 34.64px solid #000000; }
  .container-shop-party .container-shop-party-top .i--shop-party .c--hexagon-container .c--hexagon:after {
    top: 100%;
    width: 0;
    border-top: 34.64px solid #000000; }
  .container-shop-party .container-shop-party-top .i--shop-party .c--center-large-text {
    position: absolute;
    width: 100%;
    height: 100%; }
    .container-shop-party .container-shop-party-top .i--shop-party .c--center-large-text h1 {
      color: white;
      font-family: 'CircularBold';
      font-size: 170px;
      letter-spacing: 1px;
      margin: 0 0 0 25px; }
  .i--event-sequin {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 20px 0;
    width: 100%;
    /*Same aspect height as lander image*/
    /*At 90% to fit in with size consistency of the models*/
    height: 744px;
    background: black; }
  .i--event-sequin img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    /*Same aspect height as lander image*/
    height: 100%; }
  .i--event-sequin .event-sequin-container__title {
    position: absolute;
    height: 100%;
    width: 100%; }
    .i--event-sequin .event-sequin-container__title .c--event-sequin__title {
      margin: 68px 0 0 210px;
      height: 200px;
      width: 50%; }
      .i--event-sequin .event-sequin-container__title .c--event-sequin__title h1 {
        color: white;
        font-size: 110px;
        margin: -20px 0; }
    .i--event-sequin .event-sequin-container__title .event-sequin__paragraph {
      position: absolute;
      display: block;
      margin: 30px 0; }
      .i--event-sequin .event-sequin-container__title .event-sequin__paragraph .c--event-sequin__paragraph__span {
        display: block;
        font-family: 'CircularBook';
        color: white;
        letter-spacing: 1px;
        font-size: 20px;
        margin: 5px 0 0 0; }
  .i--event-sequin .event-sequin-container__text {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0; }
    .i--event-sequin .event-sequin-container__text .event-sequin-design__div {
      width: calc(100% * (108/320));
      height: 8px;
      margin: -8px 0 0 0;
      background: white; }
  .i--event-sequin .c--hexagon-container {
    display: none; }
  .i--event-sequin .button-placeholder {
    height: 38px;
    width: 100%;
    position: absolute;
    bottom: 117px;
    background: none; }
    .i--event-sequin .button-placeholder button {
      height: 38px;
      width: 181px;
      background: black;
      display: flex;
      justify-content: center;
      align-items: center; }
      .i--event-sequin .button-placeholder button p {
        letter-spacing: 2px;
        font-size: 11px;
        font-family: 'CircularBook';
        color: #FFFFFF; }
  .container-shop-shape {
    margin: 0; }
  .container-shop-shape .container-shop-party-top {
    display: flex;
    justify-content: center;
    align-items: center; }
  .container-shop-shape .container-shop-party-top #shop-party__img-left {
    display: inline-flex;
    justify-content: flex-end;
    margin: 20px 10px 20px 0;
    width: 48%; }
  .container-shop-shape .container-shop-party-top #shop-party__img-right {
    display: inline-flex;
    justify-content: flex-start;
    margin: 20px 0 20px 10px;
    width: 48%; }
  .container-shop-shape .container-shop-party-top .i--shop-shape {
    width: 100%;
    margin: 2.77778% 0; }
  .container-shop-shape .container-shop-party-top .i--shop-shape img {
    height: 107.8125%;
    width: 90%;
    max-height: 700px;
    max-width: 580px; }
  .container-shop-shape .container-shop-party-top .i--shop-shape .c--hexagon-container {
    position: absolute;
    width: 44%;
    max-width: 580px; }
  .container-shop-shape .container-shop-party-top .i--shop-shape .c--hexagon-container .c--hexagon {
    position: relative;
    width: 120px;
    height: 69.28px;
    background-color: #000000;
    margin: 34.64px 0; }
    .container-shop-shape .container-shop-party-top .i--shop-shape .c--hexagon-container .c--hexagon .c--hexagon-text {
      margin: 10px 0 0 0; }
    .container-shop-shape .container-shop-party-top .i--shop-shape .c--hexagon-container .c--hexagon .c--hexagon-text p {
      text-align: center;
      font-size: 12px;
      font-family: 'CircularBook';
      margin: 5px 0;
      letter-spacing: 4px;
      color: white; }
  .container-shop-shape .container-shop-party-top .i--shop-shape .c--hexagon-container .c--hexagon:before,
  .container-shop-shape .container-shop-party-top .i--shop-shape .c--hexagon-container .c--hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent; }
  .container-shop-shape .container-shop-party-top .i--shop-shape .c--hexagon-container .c--hexagon:before {
    bottom: 100%;
    border-bottom: 34.64px solid #000000; }
  .container-shop-shape .container-shop-party-top .i--shop-shape .c--hexagon-container .c--hexagon:after {
    top: 100%;
    width: 0;
    border-top: 34.64px solid #000000; }
  .i--shop-accessories {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 20px 0;
    width: 100%;
    /*Same aspect height as lander image*/
    height: 744px; }
    .i--shop-accessories img {
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      transform: translate(-48%, 3%) scale(1.05);
      /*Same aspect height as lander image*/
      height: 100%; }
    .i--shop-accessories .shop-accessories-container__title {
      position: absolute;
      height: 100%;
      width: 100%; }
      .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title {
        margin: 130px 0 0 210px;
        height: 200px;
        width: 80%; }
        .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title h1 {
          color: white;
          font-family: 'Pentaprism';
          font-size: 90px;
          letter-spacing: 5px;
          margin: 0; }
        .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title h5 {
          color: white;
          font-family: 'CircularBook';
          font-size: 26px;
          letter-spacing: 10px;
          margin: 5px 0 -5px 0; }
        .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title p {
          color: white;
          font-family: 'CircularBook';
          font-size: 20px;
          letter-spacing: 1px;
          margin: 30px 0 0 0; }
        .i--shop-accessories .shop-accessories-container__title .c--shop-accessories__title .button-placeholder p {
          color: white;
          font-family: 'CircularBook';
          font-size: 12px;
          letter-spacing: 1px;
          margin: 0; }
    .i--shop-accessories .shop-accessories-container__text {
      position: absolute;
      height: 260px;
      width: 100%;
      bottom: 0; }
      .i--shop-accessories .shop-accessories-container__text .shop-accessories-design__div {
        width: calc(100% * (108/320));
        height: 8px;
        margin: -8px 0 0 0;
        background: white; }
    .i--shop-accessories .c--hexagon-container {
      display: none; }
    .i--shop-accessories .button-placeholder {
      height: 38px;
      width: 100%;
      position: absolute;
      bottom: 192px;
      background: none; }
      .i--shop-accessories .button-placeholder button {
        height: 38px;
        width: 230px;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center; }
        .i--shop-accessories .button-placeholder button p {
          letter-spacing: 2px;
          font-size: 11px;
          font-family: 'CircularBook';
          color: #FFFFFF; }
  .btn {
    width: 100%;
    height: 38px;
    margin: 30px 0 0 0; }
  .btn:nth-of-type(1) {
    background: black;
    font-family: 'CircularBook';
    font-size: 12px;
    letter-spacing: 2px;
    color: white; }
  .btn:nth-of-type(2) {
    background: #a08540;
    font-family: 'CircularBook';
    font-size: 12px;
    letter-spacing: 2px;
    color: white; }
  .footer-bottom {
    height: 36px;
    width: 100%; } }
