@media (min-width: 320px) {
  .container-main .component-wrapper .c--component .lander-top-font__p {
    font-size: 42px; }
  .container-main .component-wrapper .c--component .foot-bottom-font__p {
    font-size: 32px; }
  .container-shop-party .i--shop-party .c--center-large-text {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 30% 0 0 10px;
    left: 0px; }
    .container-shop-party .i--shop-party .c--center-large-text h1 {
      color: white;
      font-family: 'CircularBold';
      font-size: 90px;
      letter-spacing: 1px;
      margin: 0; }
  #hex-1 {
    left: 3.5vw;
    margin: -10vh 0 0 0; }
  #hex-2 {
    left: 5vw; }
  #hex-3 {
    left: 5vw; }
  #hex-4 {
    left: 5vw; }
  #hex-5 {
    left: 5vw; }
  #hex-6 {
    left: 5vw; }
  #hex-7 {
    left: 5vw; }
  #hex-8 {
    left: 5vw; }
  #hex-9 {
    left: 5vw; }
  #hex-10 {
    left: 5vw; } }

@media (min-width: 400px) {
  .container-main .component-wrapper .c--component .lander-top-font__p {
    font-size: 45px; }
  .container-main .component-wrapper .c--component .foot-bottom-font__p {
    font-size: 34px; }
  #hex-1 {
    left: 2vw;
    margin: -13vh 0 0 0; }
  #hex-2 {
    left: 5vw; }
  #hex-3 {
    left: 5vw; }
  #hex-4 {
    left: 5vw; }
  #hex-5 {
    left: 5vw; }
  #hex-6 {
    left: 5vw; }
  #hex-7 {
    left: 5vw; }
  #hex-8 {
    left: 5vw; }
  #hex-9 {
    left: 5vw; }
  #hex-10 {
    left: 5vw; } }

@media (min-width: 650px) and (max-width: 767px) {
  #hex-1 {
    left: -320px;
    margin: -13vh 50vw; }
  #hex-2 {
    left: -320px;
    margin: 1vh 50vw 0 50vw; }
  #hex-3 {
    left: -320px;
    margin: 1vh 50vw 0 50vw; }
  #hex-4 {
    left: -320px;
    margin: 1vh 50vw 0 50vw; }
  #hex-5 {
    left: -320px;
    margin: 1vh 50vw 0 50vw; }
  #hex-6 {
    left: -320px;
    margin: 1vh 50vw 0 50vw; }
  #hex-7 {
    left: -320px;
    margin: 1vh 50vw 0 50vw; }
  #hex-8 {
    left: -320px;
    margin: 1vh 50vw 0 50vw; }
  #hex-9 {
    left: -320px;
    margin: 1vh 50vw 0 50vw; }
  #hex-10 {
    left: -320px;
    margin: 1vh 50vw 0 50vw; } }

@media only screen and (min-width: 768px) {
  #hex-1 {
    left: 3vh;
    margin: -20px 0 0 0; }
  #hex-2 {
    left: 50vw; }
  #hex-3 {
    left: 5vw; }
  #hex-4 {
    left: 50vw; }
  #hex-5 {
    left: 5vw; }
  #hex-6 {
    left: 49.5vw; }
  #hex-7 {
    left: 3vw; }
  #hex-8 {
    left: 52vw; }
  #hex-9 {
    left: 3vw; }
  #hex-10 {
    left: 52vw; } }

@media only screen and (min-width: 1200px) {
  #hex-1 {
    left: -560px;
    margin: -160px 50vw; }
  #hex-2 {
    left: 50vw; }
  #hex-3 {
    left: -560px;
    margin: 10px 50vw 0 50vw; }
  #hex-4 {
    left: 50vw; }
  #hex-5 {
    left: -620px;
    margin: 20px 50vw 0 50vw; }
  #hex-6 {
    left: 50vw; }
  #hex-7 {
    left: -585px;
    margin: 20px 50vw 0 50vw; }
  #hex-8 {
    left: 0px;
    margin: 20px 50vw 0 50vw; }
  #hex-9 {
    left: -585px;
    margin: 20px 50vw 0 50vw; }
  #hex-10 {
    left: 0px;
    margin: 20px 50vw 0 50vw; } }
