// =============================================================================
// BASE
// =============================================================================
// =============================================================================
// BRIEF
// =============================================================================
//
// Default configuration of elements on page
//
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3.815em;
}

h2 {
    font-size: 3.052em;
}

h3 {
    font-size: 2.441em;
}

h4 {
    font-size: 1.953em;
}

h5 {
    font-size: 1.563em;
}

h6 {
    font-size: 1.25rem;
}

p {
    margin: 0 0 $spacing--small;
}

a {
    text-decoration: none;
    color: color('secondary--dark');
    &:active,
    &:focus,
    &:hover {
        text-decoration: underline;
        color: map-get($pallete, 'accent');
    }
    &:visited {
        color: color('secondary--dark');
    }
}

small {
    font-size: 0.8em;
}

strong {
    font-weight: map-get($font-weights, 'main-bold');
}

hr {
    border: none;
    border-top: medium double color('white');
    &.dark {
        border-top: medium double color('black');
    }
}

em {
    font-style: italic;
}