// =============================================================================
// CONFIG
// =============================================================================
// =============================================================================
// BRIEF
// =============================================================================
//
// Consists of the styles variables 
//
// =============================================================================
// BASE COLOURS
// =============================================================================
$base-pallete: ( 'main': hsl(23, 82, 91), // pale tan orange
'secondary': hsl(43, 43, 44), // gold
'accent': #4acb9f, // green
'white': #FFFFFF, 'black': #19191a, 'grey': #ecece9 // this may need to be reworked for more options
);
// =============================================================================
// COLOUR VARIATION
// =============================================================================
$color-variation: 10%;
$color-variation--light: $color-variation;
$color-variation--dark: $color-variation;
// =============================================================================
// PALETTE COLOURS
// =============================================================================
$pallete: ( // main base colour
'main': map-get($base-pallete, 'main'), 'main--light': lighten(map-get($base-pallete, 'main'), $color-variation--light), 'main--dark': darken(map-get($base-pallete, 'main'), $color-variation--dark), // complementary secondary colour
'secondary': map-get($base-pallete, 'secondary'), 'secondary--light': lighten(map-get($base-pallete, 'secondary'), $color-variation--light), 'secondary--dark': darken(map-get($base-pallete, 'secondary'), $color-variation--dark), // accent colour - links, highlights etc
'accent': map-get($base-pallete, 'accent'), 'accent--light': lighten(map-get($base-pallete, 'accent'), $color-variation--light), 'accent--dark': darken(map-get($base-pallete, 'accent'), $color-variation--dark), 'white': map-get($base-pallete, 'white'), // blacks/ dark greys
'black': map-get($base-pallete, 'black'), 'black--light': lighten(map-get($base-pallete, 'black'), $color-variation--light), 'black--dark': darken(map-get($base-pallete, 'black'), $color-variation--dark), // greys TODO: maybe lighten these a little
'grey': map-get($base-pallete, 'grey'), 'grey--light': lighten(map-get($base-pallete, 'grey'), $color-variation--light), 'grey--dark': darken(map-get($base-pallete, 'grey'), $color-variation--dark));
// =============================================================================
// LETTER SPACING
// =============================================================================
$spacing-base-unit: 24px;
$spacing: 24px;
$spacing--tiny: quarter($spacing-base-unit);
$spacing--small: halve($spacing-base-unit);
$spacing--large: double($spacing-base-unit);
$spacing--xlarge: quadruple($spacing-base-unit);
// =============================================================================
// FONT URLS
// =============================================================================
$font-collection: ( //
'Manus':'http://images.drct2u.com/repo/DAL/common/fonts/Manus/manus-webfont.woff', // manus
'CircularBook':'http://images.drct2u.com/repo/DAL/common/fonts/LinetoCircular/lineto-circular-book.woff', // lineto circular book
'CircularBold':'http://images.drct2u.com/repo/DAL/common/fonts/LinetoCircular/lineto-circular-bold.woff', // lineto circular bold
'Salome':'http://images.drct2u.com/repo/DAL/common/fonts/Salome/Salome/salome-webfont.woff', // salome
'Pentaprism':'http://images.drct2u.com/repo/DAL/common/fonts/Pentaprism/pentaprism.woff', // pentaprism
'ProximaNovaBold':'http://images.drct2u.com/repo/DAL/common/fonts/ProximaNova/proximanova-bold-webfont.woff', // promixmanova bold webfont
'ProximaNovaLight':'http://images.drct2u.com/repo/DAL/common/fonts/LinetoCircular/lineto-circular-book.woff' //  promixmanova light webfont    
);
// =============================================================================
// FONT WEIGHT
// =============================================================================
$font-weights: ( 'main': 400, 'main-light': 100, 'main-italic': 300, 'main-bold': 900, );
// =============================================================================
// SCREEN PARAMETERS
// =============================================================================
// Read the article: http://sassbreak.com/viewport-relative-headings-with-sass
// Max breakpoint
$max-breakpoint: 1025;
// This could be one of your media query breakpoint variables
$wide-screen: "(min-width: #{$max-breakpoint}px)";