// =============================================================================
// IE Compactibility
// =============================================================================
// Mainly targets the ids of each elements, used to override classes
// This page contains it's own scss variables and utility functions
// To make the scss doc easily replaceable whenever compatibilty is not an issue
@media only screen and (min-width: 768px) {
    #shop-party-3 {
        margin-top: 40px;
    }
    #shop-party-4 {
        margin-top: 40px;
    }
}