// =============================================================================
// Compactibility
// =============================================================================
// Mainly targets the ids of each elements, used to override classes
// This page contains it's own scss variables and utility functions
// To make the scss doc easily replaceable whenever compatibilty is not an issue
@media(min-width: 320px) {
    $small-margin: 5vw;
    // Components
    .container-main {
        .component-wrapper {
            .c--component {
                .lander-top-font__p {
                    font-size: 42px;
                }
                .foot-bottom-font__p {
                    font-size: 32px;
                }
            }
        }
    }
    //
    .container-shop-party {
        .i--shop-party {
            .c--center-large-text {
                position: absolute;
                width: 100%;
                height: 100%;
                margin: 30% 0 0 10px;
                left: 0px;
                h1 {
                    color: white;
                    font-family: 'CircularBold';
                    font-size: 90px;
                    letter-spacing: 1px;
                    margin: 0;
                }
            }
        }
    }
    #hex-1 {
        left: 3.5vw;
        margin: -10vh 0 0 0;
    }
    #hex-2 {
        left: $small-margin;
    }
    #hex-3 {
        left: $small-margin;
    }
    #hex-4 {
        left: $small-margin;
    }
    #hex-5 {
        left: $small-margin;
    }
    #hex-6 {
        left: $small-margin;
    }
    #hex-7 {
        left: $small-margin;
    }
    #hex-8 {
        left: $small-margin;
    }
    #hex-9 {
        left: $small-margin;
    }
    #hex-10 {
        left: $small-margin;
    }
}

@media(min-width: 400px) {
    $small-margin: 5vw;
    .container-main {
        .component-wrapper {
            .c--component {
                .lander-top-font__p {
                    font-size: 45px;
                }
                .foot-bottom-font__p {
                    font-size: 34px;
                }
            }
        }
    }
    #hex-1 {
        left: 2vw;
        margin: -13vh 0 0 0;
    }
    #hex-2 {
        left: $small-margin;
    }
    #hex-3 {
        left: $small-margin;
    }
    #hex-4 {
        left: $small-margin;
    }
    #hex-5 {
        left: $small-margin;
    }
    #hex-6 {
        left: $small-margin;
    }
    #hex-7 {
        left: $small-margin;
    }
    #hex-8 {
        left: $small-margin;
    }
    #hex-9 {
        left: $small-margin;
    }
    #hex-10 {
        left: $small-margin;
    }
}

@mixin hex-position-sticky-650 {
    left: -320px;
    margin: 1vh 50vw 0 50vw;
}

@media(min-width: 650px) and (max-width: 767px) {
    $small-margin: 5vw;
    #hex-1 {
        left: -320px;
        margin: -13vh 50vw;
    }
    #hex-2 {
        @include hex-position-sticky-650;
    }
    #hex-3 {
        @include hex-position-sticky-650;
    }
    #hex-4 {
        @include hex-position-sticky-650;
    }
    #hex-5 {
        @include hex-position-sticky-650;
    }
    #hex-6 {
        @include hex-position-sticky-650;
    }
    #hex-7 {
        @include hex-position-sticky-650;
    }
    #hex-8 {
        @include hex-position-sticky-650;
    }
    #hex-9 {
        @include hex-position-sticky-650;
    }
    #hex-10 {
        @include hex-position-sticky-650;
    }
}

@media only screen and (min-width: 768px) {
    $small-margin: 5vw;
    $large-margin: 50vw;
    #hex-1 {
        left: 3vh;
        margin: -20px 0 0 0;
    }
    #hex-2 {
        left: $large-margin;
    }
    #hex-3 {
        left: $small-margin;
    }
    #hex-4 {
        left: $large-margin;
    }
    #hex-5 {
        left: $small-margin;
    }
    #hex-6 {
        left: 49.5vw;
    }
    #hex-7 {
        left: 3vw;
    }
    #hex-8 {
        left: 52vw;
    }
    #hex-9 {
        left: 3vw;
    }
    #hex-10 {
        left: 52vw;
    }
}

@media only screen and (min-width: 1200px) {
    $small-margin: 5vw;
    $large-left: -560px;
    $large-margin: 50vw;
    // TEMP photo central label
    #hex-1 {
        left: $large-left;
        margin: -160px 50vw;
    }
    #hex-2 {
        left: $large-margin;
    }
    #hex-3 {
        left: $large-left;
        margin: 10px 50vw 0 50vw;
    }
    #hex-4 {
        left: $large-margin;
    }
    #hex-5 {
        left: -620px;
        margin: 20px 50vw 0 50vw;
    }
    #hex-6 {
        left: $large-margin;
    }
    #hex-7 {
        left: -585px;
        margin: 20px 50vw 0 50vw;
    }
    #hex-8 {
        left: 0px;
        margin: 20px 50vw 0 50vw;
    }
    #hex-9 {
        left: -585px;
        margin: 20px 50vw 0 50vw;
    }
    #hex-10 {
        left: 0px;
        margin: 20px 50vw 0 50vw;
    }
}