// =============================================================================
// UTILITIES
// =============================================================================
// =============================================================================
// BRIEF
// =============================================================================
//
//Contains all the SCSS functions + mixins
//
// =============================================================================
// FUNCTIONS
// =============================================================================
// =============================================================================
// Color Retreival
// =============================================================================
@function color($color) {
    @return map-get($pallete, $color);
}

// =============================================================================
// Font Retreival
// =============================================================================
@function font-retrieve($font-name) {
    @if($font-name) {
        @return map-get($font-collection, $font-name);
    }
}

// =============================================================================
// Strip Unit
// =============================================================================
/// Remove the unit of a length
/// @param {Number} $number - Number to remove unit from
/// @return {Number} - Unitless number
@function strip-unit($number) {
    @if type-of($number)=='number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }
    @return $number;
}

// =============================================================================
// 
// =============================================================================
// =============================================================================
// MIXINS
// =============================================================================
// =============================================================================
// Size Aspect Calculations
// =============================================================================
// Images represented as a square aspect ratio
@mixin size($width, $height: $width) {
    height: $height;
    width: $width;
}

// Image with aspect size 530/825
@mixin size-825($width) {
    $height: $width * (410/288);
    height: $height;
    width: $width;
    max-height: 825px;
    max-width: 580px;
}

// Image with aspect size 530/825
@mixin size-700 ($width) {
    $height: $width * (345/288);
    height: $height;
    width: $width;
    max-height: 700px;
    max-width: 580px;
}

// =============================================================================
// Size Margin Calculations
// =============================================================================
@mixin size-margins($width) {
    $margin: 20% * (strip-unit($width)/288);
    margin: $margin 0;
}

// =============================================================================
// Dynamic font size conversion
// =============================================================================
@mixin vw($size) {
    font-size: get-vw($size);
    // Prevent font-size from getting too big
    @media #{$wide-screen} {
        font-size: $size;
    }
}

// =============================================================================
// Dynamix Hexagon Margin Calculations
// =============================================================================
// =============================================================================
// Dynamic Hexagon Calculations
// =============================================================================
// =============================================================================
// Font Face
// =============================================================================
// Details: https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6
// Original mixin has been altered for more simplicity
@mixin font-face($name, $weight: 'normal', $style: 'normal') {
    $src: null;
    $src: append($src, url(quote(font-retrieve($name))) format('woff'));
    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}

// =============================================================================
// Font Weight
// =============================================================================
@mixin font-face($name,
$weight: normal,
$style: normal) {
    @font-face {
        font-family: $name;
        font-style: $style;
        font-weight: $weight;
        src: url(font-retrieve($name)) format('woff');
    }
}

// =============================================================================
// Container Overflow
// =============================================================================
@mixin container-overflow {
    overflow: hidden;
    position: relative;
    width: 100%;
}

// =============================================================================
// Image Overflow is used
// =============================================================================
//
// Image Overflow used inside the child div,
// in junction with "Container Overflow" - parent div
//
// 328px x 467px
// 822px
// 958.172px
//
@mixin image-overflow-sides {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

// Read the article: http://sassbreak.com/viewport-relative-headings-with-sass
// Max breakpoint
$max-breakpoint: 400;
// This could be one of your media query breakpoint variables
$wide-screen: "(min-width: #{$max-breakpoint}px)";
@mixin margin-hexagon($size) {
    margin: $size 0;
    @media #{$wide-screen} {
        margin: 28.87px 0;
    }
}

@mixin border-transparent-hexagon($size) {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    // Prevent border size from getting too big
    @media #{$wide-screen} {
        border-left: 28.87px solid transparent;
        border-right: 28.87px solid transparent;
    }
}

@mixin border-bottom-hexagon($size) {
    border-bottom: $size solid #000000;
    // Prevent border size from getting too big
    @media #{$wide-screen} {
        border-bottom: 28.87px solid #000000;
    }
}

@mixin border-top-hexagon($size) {
    border-top: $size solid #000000;
    // Prevent border size from getting too big
    @media #{$wide-screen} {
        border-top: 28.87px solid #000000;
    }
}